[submodule "extern/fevm-uniswap-v3-core"]
  path = extern/fevm-uniswap-v3-core
  url = https://github.com/raulk/fevm-uniswap-v3-core
[submodule "extern/openzeppelin-contracts"]
  path = extern/openzeppelin-contracts
  url = https://github.com/filecoin-project/openzeppelin-contracts
  branch = ci
